<!DOCTYPE html>
<html>
<head>
    <title>Change Background Image on Click</title>
    <style>
        #clickDiv {
            width: 100px;
            height: 50px;
            background-color: #f00;
            color: white;
            line-height: 50px;
            text-align: center;
            cursor: pointer;
        }
        #targetDiv {
            width: 200px;
            height: 100px;
            background-color: #ccc;
            line-height: 100px;
            text-align: center;
            margin-top: 20px;
        }
    </style>
</head>
<body>

<div id="clickDiv">Click Me</div>
<div id="targetDiv"></div>

<script>
    document.getElementById("clickDiv").addEventListener("click", function() {
        // 修改 targetDiv 的背景图。这里使用了一个示例图像URL，请替换为实际的图像URL。
        document.getElementById("targetDiv").style.backgroundImage = "url('/static/1.jpg')";
        // 可以添加这行代码以改善背景图像的显示
        document.getElementById("targetDiv").style.backgroundSize = "cover";
    });
</script>

</body>
</html>
