<!DOCTYPE html>
<html lang="zh">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>调查问卷</title>
    <link href="/static/survey.css" rel="stylesheet" />
  </head>

  <body>
    <div class="survey-container">
      <h2>强迫障碍量表</h2>
      <div class="description">Y-BOCS 是评估病人强迫症状严重程度及治疗效果的主要衡量工具，包括强迫思维和强迫行为 2 个维度，共 10 个条目。该量表的 Cronbach′s α 系数为 0.75，具有较好的内容效度和结构效度。</div>
      <div class="question content-item" id="question1">
        <p>1、每天强迫思维的时间或频率</p>
        <label><input type="radio" name="q1" value="0" onclick="handleFirstQuestion(0)" required />完全无强迫思维</label>
        <label><input type="radio" name="q1" value="1" onclick="handleFirstQuestion(1)" />轻微（少于 1 小时），或偶尔有（不超过 8 次/天）</label>
        <label><input type="radio" name="q1" value="2" onclick="handleFirstQuestion(2)" />中度（ 1—3 小时），或常常有（超过 8 次/天，但每天大部分时间没有强迫思维）</label>
        <label><input type="radio" name="q1" value="3" onclick="handleFirstQuestion(3)" />重度（ 3—8 小时），或频率非常高（超过 8 次/天，且一天大部分时间有强迫思维）</label>
        <label><input type="radio" name="q1" value="4" onclick="handleFirstQuestion(4)" />极重（8 小时以上），或几乎无时无刻都有</label>
      </div>
      <div class="question content-item" id="question2">
        <p>2、强迫思维对学业、工作、社交或日常活动任意一项的妨碍（请考虑因为 强迫思维而不去做或减少做的事情）</p>
        <label><input type="radio" name="q2" value="0" required />不受妨碍</label>
        <label><input type="radio" name="q2" value="1" />轻微（稍微妨碍，但整体表现并无大碍）</label>
        <label><input type="radio" name="q2" value="2" />中度（确实妨碍，但仍可应付）</label>
        <label><input type="radio" name="q2" value="3" />重度（上述某一项或多项功能严重受损）</label>
        <label><input type="radio" name="q2" value="4" />极度（上述某一项或多项功能丧失）</label>
      </div>
      <div class="question content-item" id="question3">
        <p>3、强迫思维带来的苦恼或困扰</p>
        <label><input type="radio" name="q3" value="0" required />没有</label>
        <label><input type="radio" name="q3" value="1" />轻微</label>
        <label><input type="radio" name="q3" value="2" />中度（尚可应付）</label>
        <label><input type="radio" name="q3" value="3" />重度</label>
        <label><input type="radio" name="q3" value="4" />极重（持续地感觉如同废人）</label>
      </div>
      <div class="question content-item" id="question4">
        <p>4、与强迫思维的抗衡</p>
        <label><input type="radio" name="q4" value="0" required />无需抗衡</label>
        <label><input type="radio" name="q4" value="1" />基本能与之抗衡</label>
        <label><input type="radio" name="q4" value="2" />有时能与之抗衡</label>
        <label><input type="radio" name="q4" value="3" />经常屈服</label>
        <label><input type="radio" name="q4" value="4" />完全屈服</label>
      </div>
      <div class="question content-item" id="question5">
        <p>5、对强迫思维的掌控</p>
        <label><input type="radio" name="q5" value="0" required />完全能控制</label>
        <label><input type="radio" name="q5" value="1" />大多能控制</label>
        <label><input type="radio" name="q5" value="2" />中等程度控制</label>
        <label><input type="radio" name="q5" value="3" />很少能控制</label>
        <label><input type="radio" name="q5" value="4" />完全无法控制</label>
      </div>
      <script>
        function handleFirstQuestion(value) {
          const questionsToHide = document.querySelectorAll('#question2, #question3, #question4, #question5')
          if (value === 0) {
            questionsToHide.forEach((question) => (question.style.display = 'none'))
          } else {
            questionsToHide.forEach((question) => (question.style.display = ''))
          }
        }
      </script>
      <div class="question content-item" id="question6">
        <p>6、每天强迫行为的时间或频率</p>
        <label><input type="radio" name="q6" value="0" onclick="handlesixthQuestion(0)" required />完全无强迫行为</label>
        <label><input type="radio" name="q6" value="1" onclick="handlesixthQuestion(1)" />轻微（少于 1 小时）</label>
        <label><input type="radio" name="q6" value="2" onclick="handlesixthQuestion(2)" />中度（ 1—3 小时），或常常有（超过 8 次/天，但一天大部分时间没有强 迫行为）</label>
        <label><input type="radio" name="q6" value="3" onclick="handlesixthQuestion(3)" />重度（ 3—8 小时），或频率非常高（超过 8 次/天，且一天大部分时间有 强迫行为）</label>
        <label><input type="radio" name="q6" value="4" onclick="handlesixthQuestion(4)" />极重（大于 8 小时），或几乎无时无刻都有</label>
      </div>
      <div class="question content-item" id="question7">
        <p>7、强迫行为对学业、工作、社交或日常活动任意一项的妨碍（请考虑因为 强迫行为而不去做或减少做的事情）</p>
        <label><input type="radio" name="q7" value="0" required />不受妨碍</label>
        <label><input type="radio" name="q7" value="1" />轻微（稍微妨碍，但整体表现并无大碍）</label>
        <label><input type="radio" name="q7" value="2" />中度（确实妨碍，但仍可应付）</label>
        <label><input type="radio" name="q7" value="3" />重度（上述某一项或多项功能严重受损）</label>
        <label><input type="radio" name="q7" value="4" />极度（上述某一项或多项功能丧失）</label>
      </div>
      <div class="question content-item" id="question8">
        <p>8、强迫行为被制止时的焦虑程度</p>
        <label><input type="radio" name="q8" value="0" required />没有焦虑</label>
        <label><input type="radio" name="q8" value="1" />轻微</label>
        <label><input type="radio" name="q8" value="2" />中度（仍可以应付）</label>
        <label><input type="radio" name="q8" value="3" />严重</label>
        <label><input type="radio" name="q8" value="4" />极度</label>
      </div>
      <div class="question content-item" id="question9">
        <p>9、与抗强迫行为的抗衡</p>
        <label><input type="radio" name="q9" value="0" required />无需对抗</label>
        <label><input type="radio" name="q9" value="1" />基本能与之抗衡</label>
        <label><input type="radio" name="q9" value="2" />有时能与之抗衡</label>
        <label><input type="radio" name="q9" value="3" />经常屈服</label>
        <label><input type="radio" name="q9" value="4" />完全屈服</label>
      </div>
      <div class="question content-item" id="question10">
        <p>10、对强迫行为的掌控（回想那些控制强迫行为的情境，以便回答此题）</p>
        <label><input type="radio" name="q10" value="0" required />完全控制</label>
        <label><input type="radio" name="q10" value="1" />大多能控制（只要稍加注意即能停止强迫行为）</label>
        <label><input type="radio" name="q10" value="2" />中等程度控制（注意虽能控制但有困难）</label>
        <label><input type="radio" name="q10" value="3" />控制力弱（只能忍耐短暂的时间，但最终还是必须完成强迫行为）</label>
        <label><input type="radio" name="q10" value="4" />完全无法控制（连忍耐短暂时间的能力都没有）</label>
      </div>
      <script>
        function handlesixthQuestion(value) {
          const questionsToHide = document.querySelectorAll('#question7, #question8, #question9, #question10')
          if (value === 0) {
            questionsToHide.forEach((question) => (question.style.display = 'none'))
          } else {
            questionsToHide.forEach((question) => (question.style.display = ''))
          }
        }
      </script>
      
      <button type="submit" class="submit-button" onclick="calculateScore()">提交问卷</button>
    </div>
    <!-- 模态弹窗 -->
    <div id="scoreModal" class="modal" style="display: none">
      <div class="modal-content">
        <span class="close-button">&times;</span>
        <p id="scoreText"></p>
      </div>
    </div>

    <script>
      function calculateScore() {
        const questions1to5 = document.querySelectorAll('.question:nth-child(-n+5)')
        let score1to5 = 0
        questions1to5.forEach((question) => {
          const selectedOption = question.querySelector('input[type="radio"]:checked')
          if (selectedOption) {
            const value = parseInt(selectedOption.value)
            if (!isNaN(value)) {
              score1to5 += value // 将选中选项的值加到总分上
            }
          }
        })

        const questions6to10 = document.querySelectorAll('.question:nth-child(n+6)')
        let score6to10 = 0
        questions6to10.forEach((question) => {
          const selectedOption = question.querySelector('input[type="radio"]:checked')
          if (selectedOption) {
            const value = parseInt(selectedOption.value)
            if (!isNaN(value)) {
              score6to10 += value // 将选中选项的值加到总分上
            }
          }
        })
        // 显示模态弹窗和得分
        document.getElementById('scoreText').innerText = `强迫思维：${score1to5}\n强迫行为：${score6to10}\n总分：${score1to5 + score6to10}
        轻度——两项总分 6－15 分（或者其中一项分数为 0，另一项 6-9 分）
        处于轻度严重的强迫症患者，其症状已经对患者的生活、学习或职业开始造成一定的影响，患者的症状会随着环境和情绪的变化不断的波动，如果不能尽早的解决，很容易会朝着严重的程度发展、泛化，此时是治疗效果最理想的时期，建议尽早治疗。
        中度——两项总分 16－25 分（或者其中一项分数为，另一项 10-14 分）这属于中等的强迫症状，表示症状的频率或严重程度已经对生活、学习或职业造成明显的障碍，导致患者可能无法有效执行其原有的角色功能，甚至在没有出现有效的改善前，可能导致抑郁症状，甚至出现自杀念头，必须接受心理治疗或者药物治疗。
        重度——两项总分 25 分以上（或者其中一项分数为，另一项 15 分以上）此时，患者的强迫症状已经非常严重，完全无法执行原有的角色功能，甚至连衣食住行等生活功能都无法进行。通常患者已经无法出门，将自己禁锢家中，无时无刻都有强迫思考，无时无刻都在执行强迫行为。重度严重的患者极易出现抑郁症状，通常需要强制治疗`
        document.getElementById('scoreModal').style.display = 'block'
      }
      
      // 关闭模态弹窗
      const closeButton = document.querySelector('.close-button')
      closeButton.addEventListener('click', function () {
        document.getElementById('scoreModal').style.display = 'none'
      })
      
      // 点击模态弹窗外部也可以关闭弹窗
      window.onclick = function (event) {
        const modal = document.getElementById('scoreModal')
        if (event.target == modal) {
          modal.style.display = 'none'
        }
      }
    </script>
  </body>
</html>
