<!DOCTYPE html>
<html lang="zh">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>调查问卷</title>
  <link href="/static/survey.css" rel="stylesheet" />
</head>

<body>
  <div class="survey-container">
    <h2>成瘾判断的40题量表</h2>
    <!-- 问题1 -->
    <div class="question">
      <p>1. 这样做是否能让你摆脱每天生活中的无聊时光？</p>
      <label> <input type="radio" name="q1" value="1" required /> 是 </label>
      <label> <input type="radio" name="q1" value="0" /> 否 </label>
    </div>
    <!-- 问题2 -->
    <div class="question">
      <p>2，你会用它使自己镇静下来吗？</p>
      <label> <input type="radio" name="q2" value="1" required /> 是 </label>
      <label> <input type="radio" name="q2" value="0" /> 否 </label>
    </div>
    <!-- 问题3 -->
    <div class="question">
      <p>3，如果没有了它，你是否觉得空虚？</p>
      <label> <input type="radio" name="q3" value="1" required /> 是 </label>
      <label> <input type="radio" name="q3" value="0" /> 否 </label>
    </div>
    <!-- 问题4 -->
    <div class="question">
      <p>4，如果你一周都没有用它，你会觉得暴躁焦虑或无聊吗？</p>
      <label> <input type="radio" name="q4" value="1" required /> 是 </label>
      <label> <input type="radio" name="q4" value="0" /> 否 </label>
    </div>
    <!-- 问题5 -->
    <div class="question">
      <p>5，如果你停止使用它，你会感觉到痛苦吗？</p>
      <label> <input type="radio" name="q5" value="1" required /> 是 </label>
      <label> <input type="radio" name="q5" value="0" /> 否 </label>
    </div>
    <!-- 问题6 -->
    <div class="question">
      <p>6，如果很长一段时间你都没有用它，你是否难以想象？</p>
      <label> <input type="radio" name="q6" value="1" required /> 是 </label>
      <label> <input type="radio" name="q6" value="0" /> 否 </label>
    </div>
    <!-- 问题7 -->
    <div class="question">
      <p>7，你曾经有过以任何方式让自己的身体不适或伤害自己的行为吗？</p>
      <label> <input type="radio" name="q7" value="1" required /> 是 </label>
      <label> <input type="radio" name="q7" value="0" /> 否 </label>
    </div>
    <!-- 问题8 -->
    <div class="question">
      <p>8，成瘾让你做过使你后悔的以及原本不会做的事情吗？</p>
      <label> <input type="radio" name="q8" value="1" required /> 是 </label>
      <label> <input type="radio" name="q8" value="0" /> 否 </label>
    </div>
    <!-- 问题9 -->
    <div class="question">
      <p>9，是否停止使用它，就会出现例如颤抖、出汗或者疲惫等身体症状？</p>
      <label> <input type="radio" name="q9" value="1" required /> 是 </label>
      <label> <input type="radio" name="q9" value="0" /> 否 </label>
    </div>
    <!-- 问题10 -->
    <div class="question">
      <p>10，它是否妨碍了你的工作学习或重要的人际关系？</p>
      <label> <input type="radio" name="q10" value="1" required /> 是 </label>
      <label> <input type="radio" name="q10" value="0" /> 否 </label>
    </div>
    <!-- 问题11 -->
    <div class="question">
      <p>
        11，它是否是你考试不及格，逃课遭到上级的训斥、被解雇，或者以其他方式阻碍你的工作或学习吗？
      </p>
      <label> <input type="radio" name="q11" value="1" required /> 是 </label>
      <label> <input type="radio" name="q11" value="0" /> 否 </label>
    </div>
    <!-- 问题12 -->
    <div class="question">
      <p>12，它是否曾经破坏过你与你在意的人的关系？</p>
      <label> <input type="radio" name="q12" value="1" required /> 是 </label>
      <label> <input type="radio" name="q12" value="0" /> 否 </label>
    </div>
    <!-- 问题13 -->
    <div class="question">
      <p>13，做这件事情的时候是违法的吗？比如说吸毒就是违法行为</p>
      <label> <input type="radio" name="q13" value="1" required /> 是 </label>
      <label> <input type="radio" name="q13" value="0" /> 否 </label>
    </div>
    <!-- 问题14 -->
    <div class="question">
      <p>14，做这件事是否会妨碍你做出更好的判断？</p>

      <label> <input type="radio" name="q14" value="1" required /> 是 </label>
      <label> <input type="radio" name="q14" value="0" /> 否 </label>
    </div>
    <!-- 问题15 -->
    <div class="question">
      <p>15，是否停止它，会使你感觉到沮丧、害怕、生气或者自杀？</p>
      <label> <input type="radio" name="q15" value="1" required /> 是 </label>
      <label> <input type="radio" name="q15" value="0" /> 否 </label>
    </div>
    <!-- 问题16 -->
    <div class="question">
      <p>16，做这件事是否干扰了你的情感生活？</p>
      <label> <input type="radio" name="q16" value="1" required /> 是 </label>
      <label> <input type="radio" name="q16" value="0" /> 否 </label>
    </div>
    <!-- 问题17 -->
    <div class="question">
      <p>17，如果你戒除的话，和你相处的人会变得快乐吗？</p>
      <label> <input type="radio" name="q17" value="1" required /> 是 </label>
      <label> <input type="radio" name="q17" value="0" /> 否 </label>
    </div>
    <!-- 问题18 -->
    <div class="question">
      <p>
        18，你的父母、同事、孩子、老师、医生或者是好朋友，都认为这是一个困扰你的问题吗？
      </p>
      <label> <input type="radio" name="q18" value="1" required /> 是 </label>
      <label> <input type="radio" name="q18" value="0" /> 否 </label>
    </div>
    <!-- 问题19 -->
    <div class="question">
      <p>19，你是否定期在这上面花钱呢？</p>
      <label> <input type="radio" name="q19" value="1" required /> 是 </label>
      <label> <input type="radio" name="q19" value="0" /> 否 </label>
    </div>
    <!-- 问题20 -->
    <div class="question">
      <p>20，你是否因为它而陷入债务危机，借钱去从事一些成瘾的行为？</p>
      <label> <input type="radio" name="q20" value="1" required /> 是 </label>
      <label> <input type="radio" name="q20" value="0" /> 否 </label>
    </div>
    <!-- 问题21 -->
    <div class="question">
      <p>21，它影响了你的睡眠吗？影响了你的健康吗？</p>
      <label> <input type="radio" name="q21" value="1" required /> 是 </label>
      <label> <input type="radio" name="q21" value="0" /> 否 </label>
    </div>
    <!-- 问题22 -->
    <div class="question">
      <p>22，你是否会宁可做这件事，也不愿与同事家人和朋友相处呢？</p>
      <label> <input type="radio" name="q22" value="1" required /> 是 </label>
      <label> <input type="radio" name="q22" value="0" /> 否 </label>
    </div>
    <!-- 问题23 -->
    <div class="question">
      <p>23，你是否更愿意独自一人做这件事呢？</p>
      <label> <input type="radio" name="q23" value="1" required /> 是 </label>
      <label> <input type="radio" name="q23" value="0" /> 否 </label>
    </div>
    <!-- 问题24 -->

    <div class="question">
      <p>24，你是否在这件事情上撒过谎？或对其他人保密了呢？</p>
      <label> <input type="radio" name="q24" value="1" required /> 是 </label>
      <label> <input type="radio" name="q24" value="0" /> 否 </label>
    </div>
    <!-- 问题25 -->
    <div class="question">
      <p>25，成瘾是否造成你对自己或他人的不便呢？</p>
      <label> <input type="radio" name="q25" value="1" required /> 是 </label>
      <label> <input type="radio" name="q25" value="0" /> 否 </label>
    </div>
    <!-- 问题26 -->
    <div class="question">
      <p>26，它是否会使你做了一些不合理的事情？比如花掉房租，等等。</p>
      <label> <input type="radio" name="q26" value="1" required /> 是 </label>
      <label> <input type="radio" name="q26" value="0" /> 否 </label>
    </div>
    <!-- 问题27 -->
    <div class="question">
      <p>27，当你做这件事情的时候，你会觉得有些不满足吗？</p>
      <label> <input type="radio" name="q27" value="1" required /> 是 </label>
      <label> <input type="radio" name="q27" value="0" /> 否 </label>
    </div>
    <!-- 问题28 -->
    <div class="question">
      <p>28，你对这件事情的需求是否无止境呢？</p>
      <label> <input type="radio" name="q28" value="1" required /> 是 </label>
      <label> <input type="radio" name="q28" value="0" /> 否 </label>
    </div>
    <!-- 问题29 -->
    <div class="question">
      <p>29，它是否损害了你在处理工作学业家庭和社会交往的能力？</p>
      <label> <input type="radio" name="q29" value="1" required /> 是 </label>
      <label> <input type="radio" name="q29" value="0" /> 否 </label>
    </div>
    <!-- 问题30 -->
    <div class="question">
      <p>
        30，你是否需要通过做这件事，再让自己在工作、学业、家庭或社会交往中感觉良好呢？
      </p>
      <label> <input type="radio" name="q30" value="1" required /> 是 </label>
      <label> <input type="radio" name="q30" value="0" /> 否 </label>
    </div>
    <!-- 问题31 -->
    <div class="question">
      <p>31，你没有做这件事情的时候，是否会迫切需要它呢？</p>
      <label> <input type="radio" name="q31" value="1" required /> 是 </label>
      <label> <input type="radio" name="q31" value="0" /> 否 </label>
    </div>
    <!-- 问题32 -->
    <div class="question">
      <p>32，你是否定期的需要它？</p>
      <label> <input type="radio" name="q32" value="1" required /> 是 </label>
      <label> <input type="radio" name="q32" value="0" /> 否 </label>
    </div>
    <!-- 问题33 -->
    <div class="question">
      <p>
        33，当生活中有人公开提出这些事情或询问你的习惯的时候，你是否感到焦虑？
      </p>
      <label> <input type="radio" name="q33" value="1" required /> 是 </label>
      <label> <input type="radio" name="q33" value="0" /> 否 </label>
    </div>
    <!-- 问题34 -->
    <div class="question">
      <p>34，其他的家庭成员也有同样的习惯吗？</p>
      <label> <input type="radio" name="q34" value="1" required /> 是 </label>
      <label> <input type="radio" name="q34" value="0" /> 否 </label>
    </div>
    <!-- 问题35 -->
    <div class="question">
      <p>35，你是否期待做这件事情？</p>
      <label> <input type="radio" name="q35" value="1" required /> 是 </label>
      <label> <input type="radio" name="q35" value="0" /> 否 </label>
    </div>
    <!-- 问题36 -->
    <div class="question">
      <p>36，你有尝试过停止这件事，但以失败告终的经历吗？</p>
      <label> <input type="radio" name="q36" value="1" required /> 是 </label>
      <label> <input type="radio" name="q36" value="0" /> 否 </label>
    </div>
    <!-- 问题37 -->
    <div class="question">
      <p>37，你认为它是一个困扰你的问题吗？</p>
      <label> <input type="radio" name="q37" value="1" required /> 是 </label>
      <label> <input type="radio" name="q37" value="0" /> 否 </label>
    </div>
    <!-- 问题38 -->
    <div class="question">
      <p>38，你是否认为停止做这件事情会使你的生活更加美好？</p>
      <label> <input type="radio" name="q38" value="1" required /> 是 </label>
      <label> <input type="radio" name="q38" value="0" /> 否 </label>
    </div>
    <!-- 问题39 -->
    <div class="question">
      <p>39，你是否因不能停止做这件事情而悔恨？</p>
      <label> <input type="radio" name="q39" value="1" required /> 是 </label>
      <label> <input type="radio" name="q39" value="0" /> 否 </label>
    </div>
    <!-- 问题40 -->
    <div class="question">
      <p>40，你的理智是否告诉你，戒掉它就会感觉更好些？</p>
      <label> <input type="radio" name="q40" value="1" required /> 是 </label>
      <label> <input type="radio" name="q40" value="0" /> 否 </label>
    </div>
    <button type="submit" class="submit-button" onclick="calculateScore()">
      提交问卷
    </button>
  </div>
  <!-- 模态弹窗 -->
  <div id="scoreModal" class="modal" style="display: none">
    <div class="modal-content">
      <span class="close-button">&times;</span>
      <p id="scoreText"></p>
    </div>
  </div>

  <script>
    function calculateScore() {
      const questions = document.querySelectorAll(".question");
      let score = 0;
      questions.forEach((question) => {
        const selectedOption = question.querySelector(
          'input[type="radio"]:checked'
        );
        if (selectedOption) {
          const value = parseInt(selectedOption.value);
          if (!isNaN(value)) {
            score += value; // 将选中选项的值加到总分上
          }
        }
      });
      // 显示模态弹窗和得分
      document.getElementById("scoreText").innerText = `您的得分是：${score}\n如果有 5 道符合你的现状，你就接近成瘾了； 如果超过 10 道符合你的现状，那么你恐怕已经成瘾了。 打钩的题目越多，说明成瘾的事实就越多，成瘾的可能性就越大。`;
      document.getElementById("scoreModal").style.display = "block";
    }

    // 关闭模态弹窗
    const closeButton = document.querySelector(".close-button");
    closeButton.addEventListener("click", function () {
      document.getElementById("scoreModal").style.display = "none";
    });

    // 点击模态弹窗外部也可以关闭弹窗
    window.onclick = function (event) {
      const modal = document.getElementById("scoreModal");
      if (event.target == modal) {
        modal.style.display = "none";
      }
    };
  </script>
</body>

</html>