<!DOCTYPE html>
<html lang="zh">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>调查问卷</title>
    <link href="/static/survey.css" rel="stylesheet" />
  </head>

  <body>
    <div class="survey-container">
      <h2>网络成瘾自测量表</h2>
      <style>
        .description {
          font-size: 16px;
          color: #666;
          margin-bottom: 20px;
        }
        .content-item {
          align-items: center;
          margin-bottom: 10px;
          background-color: #fff;
          padding: 20px; /* 增大内边距 */
          box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* 加重阴影 */
          cursor: pointer; /* 新增样式，使其可点击 */
          border-radius: 10px; /* 圆角效果 */
        }
      </style>
      <div class="description">
        <p>“网瘾”即“互联网成瘾综合症”,英文简称为 IAD。基本症状是上网时间
          失控,欲罢不能,可以不吃饭不睡觉,但是不能不上网。患者即使意识到问题的严
          重性，也仍无法自控。常表现为情绪低落、头昏眼花、双手颤抖、疲乏无力、食
          欲不振等。
          网络成瘾的判定标准常用的有三个:一是连续-一个月以上每天上网玩游戏
          4~6 个小时,严重影响了工作和学习;二是认为上网能得到快乐;三是不上网就会
          出现躯体症状，如头痛、出汗、烦躁不安等,但一坐到电脑面前，这些症状就立
          刻消失。</p>
      <!-- 问题1 -->
      <div class="question content-item">
        <p>1.你是否对网络过于关注(如下网后还想着它)?</p>
        <label><input type="radio" name="q1" value="1" required />是</label>
        <label><input type="radio" name="q1" value="0" />否</label>
      </div>
      <!-- 问题2 -->
      <div class="question content-item">
        <p>2.你是否感觉需要不断增加上网时间才能感到满足?</p>
        <label><input type="radio" name="q2" value="1" required />是</label>
        <label><input type="radio" name="q2" value="0" />否</label>
      </div>
      <div class="question content-item">
        <p>3.你是否难以减少或控制自己对网络的使用?</p>
        <label><input type="radio" name="q3" value="1" required />是</label>
        <label><input type="radio" name="q3" value="0" />否</label>
      </div>
      <div class="question content-item">
        <p>4.你是否对家人或朋友遮掩自己对网络的着迷程度?</p>
        <label><input type="radio" name="q4" value="1" required />是</label>
        <label><input type="radio" name="q4" value="0" />否</label>
      </div>
      <div class="question content-item">
        <p>5.你是否将上网作为摆脱烦恼和缓解不良情绪(如紧张,抑郁,无助)的方法?</p>
        <label><input type="radio" name="q5" value="1" required />是</label>
        <label><input type="radio" name="q5" value="0" />否</label>
      </div>
      <div class="question content-item">
        <p>6.当你准备下线或停止使用网络的时候,你是否感到烦躁不安,无所适从?</p>
        <label><input type="radio" name="q6" value="1" required />是</label>
        <label><input type="radio" name="q6" value="0" />否</label>
      </div>
      <div class="question content-item">
        <p>7.你是否由于.上网影响了自己的工作状态或朋友关系?</p>
        <label><input type="radio" name="q7" value="1" required />是</label>
        <label><input type="radio" name="q7" value="0" />否</label>
      </div>
      <div class="question content-item">
        <p>8.你是否常常为上网花很多钱?</p>
        <label><input type="radio" name="q8" value="1" required />是</label>
        <label><input type="radio" name="q8" value="0" />否</label>
      </div>
      <div class="question content-item">
        <p>9.你上网时间是否经常比预期的要长?</p>
        <label><input type="radio" name="q9" value="1" required />是</label>
        <label><input type="radio" name="q9" value="0" />否</label>
      </div>
      <div class="question content-item">
        <p>10.是否下网时觉得心情不好,一上网就会来劲头?</p>
        <label><input type="radio" name="q10" value="1" required />是</label>
        <label><input type="radio" name="q10" value="0" />否</label>
      </div>

      <button type="submit" class="submit-button" onclick="calculateScore()">提交问卷</button>
    </div>
    <!-- 模态弹窗 -->
    <div id="scoreModal" class="modal" style="display: none">
      <div class="modal-content">
        <span class="close-button">&times;</span>
        <p id="scoreText"></p>
      </div>
    </div>

    <script>
      function calculateScore() {
        const questions = document.querySelectorAll('.question')
        let score = 0
        questions.forEach((question) => {
          const selectedOption = question.querySelector('input[type="radio"]:checked')
          if (selectedOption) {
            const value = parseInt(selectedOption.value)
            if (!isNaN(value)) {
              score += value // 将选中选项的值加到总分上
            }
          }
        })
        // 显示模态弹窗和得分
        document.getElementById('scoreText').innerText = `您的得分是：${score}
            A、总分 5 分以下:网瘾不大
            B、总分 5 分和 5 分以上:你的网瘾很大
            C、总分 8 分及 8 分以上:需要诊断.是否患了 IAD`
        document.getElementById('scoreModal').style.display = 'block'
      }
      
      // 关闭模态弹窗
      const closeButton = document.querySelector('.close-button')
      closeButton.addEventListener('click', function () {
        document.getElementById('scoreModal').style.display = 'none'
      })
      
      // 点击模态弹窗外部也可以关闭弹窗
      window.onclick = function (event) {
        const modal = document.getElementById('scoreModal')
        if (event.target == modal) {
          modal.style.display = 'none'
        }
      }
    </script>
  </body>
</html>
